<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspur.tr069"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />

    <application
        android:allowBackup="true"
        android:persistent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.inspur.activity.MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="tr069" />
            </intent-filter>

        </activity>

        <service android:name="com.inspur.tr069.InspurTr069Service" >
            <intent-filter>
                <action android:name="com.inspur.tr069.InspurTr069Service" />
            </intent-filter>
        </service>
        
        <service android:name="com.inspur.platform.SleepMonitorService" >
        </service>

        <receiver android:name="com.inspur.tr069.BootComplete" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.inspur.work.playdiagnose.MusicStateReceiver" >
            <intent-filter>
                <action android:name="MEDIA_PLAY_MONITOR_MESSAGE" />
                <!--  <action android:name="android.intent.action.BOOT_COMPLETED" />-->
            </intent-filter>
        </receiver>
    </application>

</manifest>